datasets==4.0.0
evaluate==0.4.5
faiss_cpu==1.11.0
fastapi==0.116.1
gtts==2.5.4
numpy==2.3.1
openai==1.95.1
opencc_python_reimplemented==0.1.7
pandas==2.3.1
peft==0.16.0
pydantic==2.11.7
pydantic_settings==2.10.1
pydub==0.25.1
python-dotenv==1.1.1
SQLAlchemy==2.0.41
torch==2.7.1
torchaudio==2.7.1
tqdm==4.67.1
transformers==4.53.2
webrtcvad==2.0.10
datasets==4.0.0
accelerate==1.8.1
jiwer==4.0.0
torchcodec==0.4.0
huggingface-hub==0.33.4